<div class="header">
  <h1>
    <span class="brand">
      Tactic
    </span>
    {{#if currentUser}}
      <span class="user">
        @ {{currentUser.name}}
      </span>
    {{/if}}
  </h1>

  {{#if currentUser}}
    <div class="content">
      <section class="current-week">
        <h3 class="section-btn">
          This week
        </h3>
        <div class="section-content">
          <h3>Me</h3>
          <ul>
            {{#each myProjectsDurationInCurrentWeek}}
              <li>
                <span class="label">
                  {{#if project}}
                    {{project.name}}
                  {{else}}
                    <i>No project</i>
                  {{/if}}
                </span>
                <span class="duration">
                  {{format-duration duration}}
                </span>
              </li>
            {{/each}}
            <li>
              <span class="label total">Total</span>
              <span class="duration">{{format-duration myTotalDurationInCurrentWeek}}</span>
            </li>
          </ul>
          <h3>Everyone</h3>
          <ul>
            {{#each projectsDurationInCurrentWeek}}
              <li>
                <span class="label">
                  {{#if project}}
                    {{project.name}}
                  {{else}}
                    <i>No project</i>
                  {{/if}}
                </span>
                <span class="duration">
                  {{format-duration duration}}
                </span>
              </li>
            {{/each}}
            <li>
              <span class="label total">Total</span>
              <span class="duration">{{format-duration totalDurationInCurrentWeek}}</span>
            </li>
          </ul>
        </div>
      </section><section class="timer">
        {{#link-to "index" class="section-btn"}}
          Timer
        {{/link-to}}
      </section><section class="reviews">
        {{#link-to "reviews" class="section-btn"}}
          Reviews
        {{/link-to}}
        </h3>
      </section>
    </div>
  {{/if}}
</div>

<div class="content">
  {{outlet}}
  {{outlet "loading"}}
</div>
