<section class="entry-filters">
  from
  {{input value=startDate classNames="datepicker"}}
  to
  {{input value=endDate classNames="datepicker js-end-date"}}
</section>

<section class="entry-list">
  {{#each entryList in entriesByProject}}
    <h2>
      {{#if entryList.project.name}}
        {{entryList.project.name}}
      {{else}}
        <i>No project</i>
      {{/if}}
      <span class="duration">
        {{format-duration entryList.duration}}
      </span>
    </h2>
    <ul>
      {{#each entry in entryList}}
        {{#if entry.isEditing}}
          {{view "entry-edit" context=entry.editForm focusOn=entry.editFocus}}
        {{else}}
          <li {{bind-attr class=":entry entry.isDeleting:deleting" }}>
            <div>
              <span class="title" {{action "editEntry" "title"}}>
                {{#if entry.title}}
                  {{entry.title}}
                {{else}}
                  <i>No title</i>
                {{/if}}
              </span>
              <span class="duration" {{action "editEntry" "time"}}>{{format-duration entry.duration}}</span>
              <span class="date" {{action "editEntry" "date"}}>{{moment entry.startedAt "DD/MM"}}</span>
              <span class="time-range"  {{action "editEntry" "time"}}>
                {{entry.startedAtHour}}
                -
                {{entry.finishedAtHour}}
              </span>
            </div>
            <div class="actions">
              {{#if entry.saveScheduled}}
                <a href="" {{action "cancelSaveEntry"}}>
                  Restore changes
                </a>
              {{else}} {{#if entry.isDeleting}}
                <a href="" {{action "cancelDeleteEntry"}}>
                  Cancel deletion
                </a>
              {{else}}
                <a href="" {{action "deleteEntry"}}>Delete</a>
              {{/if}}{{/if}}
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/each}}
</section>
