<section class="new-entry">
  {{input placeholder="What are you working on ?" value=newEntry.title}}
  {{#if timerStarted}}
    <button class="stop-button" {{action "stopTimer"}}>Stop</button>
  {{else}}
    <button class="start-button" {{action "startTimer"}}>Start</button>
  {{/if}}
</section>

<section class="entry-list">
  {{#each entryList in this}}
    <h2>
      {{#if entryList.isRecent}}
        {{ago entryList.date}}
      {{else}}
        {{moment entryList.date "ll"}}
      {{/if}}
      <span class="duration">
        {{entryList.duration}}
      </span>
    </h2>
    <ul>
      {{#each entry in entryList.entries}}
        <li class="entry">
          <div>
            <span class="title">{{entry.title}}</span>
            <span class="duration">{{entry.duration}}</span>
            <span class="time-range">
              {{moment entry.startedAt "H:mm"}}
              -
              {{moment entry.finishedAt "H:mm"}}
            </span>
          </div>
          <div class="actions">
            <a href="" {{action "deleteEntry" entry}}>Delete</a>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</section>
