<section class="new-entry">
  {{input classNames="title" placeholder="What are you working on ?" value=newEntry.title action="startTimer"}}
  {{input classNames="project" placeholder="Project" value=newEntry.project action="startTimer"}}
  {{input classNames="duration" disabled="disabled" value=newEntryDuration}}
  {{#if timerStarted}}
    <button class="stop-button" {{action "stopTimer"}}>Stop</button>
  {{else}}
    <button class="start-button" {{action "startTimer"}}>Start</button>
  {{/if}}
</section>

<section class="entry-list">
  {{#each entryList in this}}
    <h2>
      {{#if entryList.isRecent}}
        {{ago entryList.date}}
      {{else}}
        {{moment entryList.date "ll"}}
      {{/if}}
      <span class="duration">
        {{entryList.duration}}
      </span>
    </h2>
    <ul>
      {{#each entry in entryList.entries itemController="entry"}}
        {{#if entry.isEditing}}
          <li class="entry entry-edit">
            <div>
              {{input value=entry.title classNames="title"}}
              {{input value=entry.project classNames="project"}}
              <span class="time">
                {{input value=entry.startedAtHourOneWay focus-out="startedAtHourChanged"}}
              </span>
              to
              <span class="time">
                {{input value=entry.finishedAtHourOneWay focus-out="finishedAtHourChanged"}}
              </span>
            </div>
            <div class="actions">
              <a href="" {{action "saveEntry"}}>Save</a>
              <a href="" {{action "restoreEntry"}}>Cancel</a>
            </div>
          </li>
        {{else}}
          <li class="entry">
            <div>
              <span class="title">{{entry.title}}</span>
              <span class="project">{{entry.project}}</span>
              <span class="duration">{{entry.duration}}</span>
              <span class="time-range">
                {{entry.startedAtHour}}
                -
                {{entry.finishedAtHour}}
              </span>
            </div>
            <div class="actions">
              <a href="" {{action "editEntry"}}>Edit</a>
              <a href="" {{action "deleteEntry"}}>Delete</a>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/each}}
</section>
