<section class="new-entry">
  {{input classNames="title" placeholder="What are you working on ?" value=newEntry.title action="startTimer" key-press="startTimer"}}
  <div class="project">
    {{select-on-focus-input classNames="project-input" placeholder="Project" value=newEntryProjectName key-press="searchProjectsAndStartTimer"}}
    {{#if projectChoices}}
      <div class="project-choices">
        <ul>
          {{#each project in projectChoices}}
            <li {{action "selectProject" project}}>{{project.name}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
  {{input classNames="duration" disabled="disabled" value=newEntryDuration}}
  {{#if timerStarted}}
    <button class="stop-button" {{action "stopTimer"}}>Stop</button>
  {{else}}
    <button class="start-button" {{action "startTimer"}}>Start</button>
  {{/if}}
</section>

<section class="entry-list">
  {{#each entryList in entriesByDay}}
    <h2>
      {{#if entryList.isToday}}
        Today
      {{else}}{{#if entryList.inCurrentWeek}}
        {{ago entryList.mostRecentDate}}
      {{else}}
        {{moment entryList.date "ll"}}
      {{/if}}{{/if}}
      <span class="duration">
        {{entryList.duration}}
      </span>
    </h2>
    <ul>
      {{#each entry in entryList}}
        {{#if entry.isEditing}}
          {{view "entry-edit" context=entry focusOn=entry.editFocus}}
        {{else}}
          <li {{bind-attr class=":entry entry.isDeleting:deleting" }}>
            <div>
              <span class="title" {{action "editEntry" "title"}}>{{entry.title}}</span>
              <span class="project" {{action "editEntry" "project"}}>
                {{#if entry.projectName}}
                  {{entry.projectName}}
                {{else}}
                  <i>No project</i>
                {{/if}}
              </span>
              <span class="duration" {{action "editEntry" "time"}}>{{entry.duration}}</span>
              <span class="time-range"  {{action "editEntry" "time"}}>
                {{entry.startedAtHour}}
                -
                {{entry.finishedAtHour}}
              </span>
            </div>
            <div class="actions">
              <a href="" {{action "editEntry"}}>Edit</a>
              {{#if entry.isDeleting}}
                <a href="" {{action "cancelDeleteEntry"}}>
                  Cancel deletion
                </a>
              {{else}}
                <a href="" {{action "deleteEntry"}}>Delete</a>
              {{/if}}
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/each}}
</section>
