<section class="new-entry">
  {{input placeholder="What are you working on ?"}}
</section>

<section class="entry-list">
  {{#each entryList in this}}
    <h2>
      {{#if entryList.isRecent}}
        {{ago entryList.date}}
      {{else}}
        {{moment entryList.date "ll"}}
      {{/if}}
    </h2>
    <ul>
      {{#each entry in entryList.entries}}
        <li>{{entry.title}}</li>
      {{/each}}
    </ul>
  {{/each}}
</section>
