<section class="new-entry">
  {{input classNames="title" placeholder="What are you working on ?" value=newEntry.title action="startTimer" key-press="startTimer"}}
  <div class="project">
    {{input classNames="project-input" placeholder="Project" value=newEntryProjectName key-press="searchProjectsAndStartTimer"}}
    {{#if projectChoices}}
      <div class="project-choices">
        <ul>
          {{#each project in projectChoices}}
            <li {{action "selectProject" project}}>{{project.name}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
  {{input classNames="duration" disabled="disabled" value=newEntryDuration}}
  {{#if timerStarted}}
    <button class="stop-button" {{action "stopTimer"}}>Stop</button>
  {{else}}
    <button class="start-button" {{action "startTimer"}}>Start</button>
  {{/if}}
</section>

<section class="entry-list">
  {{#each entryList in entriesByDay}}
    <h2>
      {{#if entryList.isToday}}
        Today
      {{else}}{{#if entryList.inCurrentWeek}}
        {{ago entryList.mostRecentDate}}
      {{else}}
        {{moment entryList.date "ll"}}
      {{/if}}{{/if}}
      <span class="duration">
        {{entryList.duration}}
      </span>
    </h2>
    <ul>
      {{#each entry in entryList}}
        {{#if entry.isEditing}}
          <li class="entry entry-edit">
            <div>
              {{input value=entry.title classNames="title"}}
              <div class="project">
                {{input value=entry.projectNameOneWay key-press="searchProjects"}}
                {{#if entry.projectChoices}}
                  <div class="project-choices">
                    <ul>
                      {{#each project in entry.projectChoices}}
                        <li {{action "selectProject" project}}>{{project.name}}</li>
                      {{/each}}
                    </ul>
                  </div>
                {{/if}}
              </div>
              <span class="time">
                {{input value=entry.startedAtHourOneWay focus-out="startedAtHourChanged"}}
              </span>
              to
              <span class="time">
                {{input value=entry.finishedAtHourOneWay focus-out="finishedAtHourChanged"}}
              </span>
            </div>
            <div class="actions">
              <a href="" {{action "saveEntry"}}>Save</a>
              <a href="" {{action "restoreEntry"}}>Cancel</a>
            </div>
          </li>
        {{else}}
          <li class="entry">
            <div {{action "editEntry"}}>
              <span class="title">{{entry.title}}</span>
              <span class="project">{{entry.projectNameOneWay}}</span>
              <span class="duration">{{entry.duration}}</span>
              <span class="time-range">
                {{entry.startedAtHour}}
                -
                {{entry.finishedAtHour}}
              </span>
            </div>
            <div class="actions">
              <a href="" {{action "editEntry"}}>Edit</a>
              <a href="" {{action "deleteEntry"}}>Delete</a>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/each}}
</section>
