<section class="new-entry">
  {{input placeholder="What are you working on ?" value=newEntry.title}}
  {{#if timerStarted}}
    <button class="stop-button" {{action "stopTimer"}}>Stop</button>
  {{else}}
    <button class="start-button" {{action "startTimer"}}>Start</button>
  {{/if}}
</section>

<section class="entry-list">
  {{#each entryList in this}}
    <h2>
      {{#if entryList.isRecent}}
        {{ago entryList.date}}
      {{else}}
        {{moment entryList.date "ll"}}
      {{/if}}
      <span class="duration">
        {{entryList.duration}}
      </span>
    </h2>
    <ul>
      {{#each entry in entryList.entries itemController="entry"}}
        <li {{bind-attr class=":entry entry.isEditing:entry-edit"}}>
          <div>
            {{#if entry.isEditing}}
              {{input value=entry.title classNames="title"}}
            {{else}}
              <span class="title">{{entry.title}}</span>
            {{/if}}
            <span class="duration">{{entry.duration}}</span>
            <span class="time-range">
              {{moment entry.startedAt "H:mm"}}
              -
              {{moment entry.finishedAt "H:mm"}}
            </span>
          </div>
          <div class="actions">
            {{#if entry.isEditing}}
              <a href="" {{action "saveEntry" entry}}>Save</a>
              <a href="" {{action "restoreEntry" entry}}>Cancel</a>
            {{else}}
              <a href="" {{action "editEntry" entry}}>Edit</a>
              <a href="" {{action "deleteEntry" entry}}>Delete</a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</section>
